@charset "UTF_8";

* { padding: 0px; border: 0px; margin: 0px;}

.app { 
    display: flex;
}
.menu { 
    background-color: blueviolet;
    width: 200px;
    height: 400px;
    color: white;
    padding: 10px;
    
}

h3 {
    text-align: center;
    padding: 20px 0px 30px 0px;
}
.mesa, .tamanho, .sabor {
    margin-bottom: 30px;
    height: 30px;
    width: 100px;
}
.mesa:hover{
    background-color: rgb(211, 189, 230);
    transform: scale(1.1);
}
.tamanho:hover{
    background-color: rgb(211, 189, 230);
    transform: scale(1.1);
}
.sabor:hover{
    background-color: rgb(211, 189, 230);
    transform: scale(1.1);
}
.enviar {
    background-color: darkgrey;
    width: 150px;
    height: 40px;  
}
.enviar:hover {
    background-color: green;
}



ul { 
    background-color: darkgray;
    height: 400px;
    width: 200px;
    padding: 10px;
    text-align: center;
    }
.item {
    color: white;
    padding: 10px;
    background-color: rgb(98, 19, 138);
    margin: 2px;
    
}




