@charset "UTF_8";

.menu {
    background-color: rgb(168, 168, 168);
    
}

.mesa, .tamanho, .sabor {
    background-color: rgb(255, 255, 255);
    height: 30px;
    width: 80px;
    margin-top: 10px;
    
}

.mesa:hover {
    background-color: blueviolet;
}
.tamanho:hover {
    background-color: blueviolet;
}
.sabor:hover {
    background-color: blueviolet;
}

.enviar {
    background-color: rgb(117, 253, 140);
    height: 30px;
    width: 150px;
    margin-top: 30px;
}
.enviar:hover {
    background-color: chartreuse;
    transform: scale(108%);
}
